h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
   font-family: 'Oswald', sans-serif;
   font-size: 100%;
   background:#fff; 
}
/*--header start here--*/
.header{
	      background:url(../img/sandy10.jpg)no-repeat;
	     min-height:590px;
	     background-size:cover;
	     -webkit-background-size:cover;
	     -moz-background-size:cover;
	     -o-background-size:cover;
	     -ms-background-size:cover;
}
.logo{
	     float:left;
	     width:50%;
}
.logo-w {
	float: left;
	width: 50%;
}
.logo img {
	margin-top: 10px;
}
.logo-w img {
	margin-top: 1.8em;
}
.header-right{
	     float:right;
	     width:50%;
	     padding-top:1em;.
         text-align: right;
}
span.menu img{
	       display:none;
}
.header-right ul{
        margin: 0;
       padding: 0;
}
.header-right li{
	         list-style:none;
	         display:inline-block;
	         margin: 10px 10px 0 0;
}
.header-right ul li a{
	color: #FFFEFE;
	font-weight: bold;
} 
.header-right ul li a:hover,.header-right ul li a.active{
   color:#AB9797;
   text-decoration:none;
   transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
h1{
    font-size:2.4em;
    font-weight:700;
	text-align:center;
	padding-top:5em;
	color:#fff;
}
span.a{ 
      background:url(../icons/paradot.png)no-repeat;
      display:block;
      width:51px;
      height:7px;
      margin:0 auto;	
}
/*--work start here--*/
.work{
	padding:4em 0;
}
.work-column{
	position:relative;
}
.caption{
	display: none;
	position:absolute;
	top:0;
	width:360px;
	height:360px;
	background:rgba(0, 0, 0, 0.62);
}
.text {
  color: #fff;
  text-align: center;
  padding-top: 10em;
}
.text h3{
     font-size: 1.5em;
     font-weight: 300;
}
.text p{
     font-size: 13px;
     font-weight: 300;
}
.text.big {
     padding-top: 19em;
}
.work-column:hover div.caption{
	display: block;
	 transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
.capt{
	width:748px;
}
.car{
	height:734px;
}

.cat-row {
	text-align: center;
	margin: 1.5em 0;
}
.cat-row img {
	width: 96%;
	height:351px;
}
.caption.cat{
	width:748px;
	height:351px;
	margin-left:16px;
}
.image-top p {
	text-align: justify;
	padding: 2% 0;
	font-weight: 100;
	font-size: 14px;
}
/*--work ends here--*/

/*--footer style start here--*/
.footer{
	background-color:#231F20;
	padding:1.5em 0;
}
.footer-main p{
         text-align: center;
         color: #fff;
         font-size: 15px;
}
.footer-main p a{
	          color:deepskyblue;
}
.footer-main p a:hover{
	          color:rgba(255, 0, 0, 0.77);
	          text-decoration:none;
	           transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
#toTop {
	display:none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 48px;
	height: 48px;
	border: none;
	text-indent: 100%;
	background-size: 35px;
	background: url(../icons/bwn.png) no-repeat 0 0;
	background-size: 35px;
}
/*--work us start here--*/
.strip {
	background: #231F20;
	padding: 0 0 1em 0;
}

/*--work us end here--*/


/* media quaries start here--*/
@media(max-width:1024px){
.img-cap {
     height: 300px;
}
.caption {
     width: 300px;
     height:300px;
}
.img-width {
     height: 300px;
}
.caption.capt {
    height: 300px;
    width: 623px;
}
.img-height {
     width: 300px;
}
.caption.car {
     height: 612px;
     width: 300px;
}
.cat-row img {
      width: 96%;
      height: 289px;
}
.caption.cat {
       height: 289px;
       width: 621px;
       margin-left: 13px;
}
.text {
      padding-top: 7em;
}

}
@media(max-width:768px) {
	span.menu img {
		display: block;
		cursor: pointer;
		float: right;
		padding-top: 1em;
	}

	.clear {
		clear: both;
	}

	ul.res {
		display: none;
		padding: 0;
	}

	.header-right {
		float: none;
		width: 100%;
	}

	.header-right ul.res li a:hover, .header-right ul.res li a.active {
		color: black;
	}

	.header-right ul.res li a {
		display: block;
		width: 100%;
		padding: 5px;
		color: #E75C5D;
	}

	.header-right ul.res li {
		display: block;
		text-align: center;
		margin: 1px 0;
		border: 1px solid white;
		background-color: #fff;
	}

	.header {
		min-height: 500px;
	}

	.banner-main {
		min-height: 330px;
	}

	.img-cap {
		width: 100%;
		height: 100%;
		margin: 7px 0;
	}

	.caption.capt {
		height: 100%;
		width: 96%;
		margin-top: 0;
	}

	.img-width {
		height: 100%;
		width: 100%;
	}

	.img-height {
		width: 100%;
		height: 100%;
	}

	.caption {
		width: 96%;
		height: 98%;
		margin-top: 7px;
	}

	.text {
		padding-top: 20em;
	}

	.caption.car {
		height: 100%;
		width: 96%;
		margin-top: 0;
	}

	.text.big {
		padding-top: 45em;
	}

	.text.sma {
		padding-top: 10em;
	}

	.cat-row img {
		width: 96%;
		height: 100%;
	}

	.caption.cat {
		height: 100%;
		width: 96%;
		margin-top: 0;
	}

	.work {
		padding: 3em 0;
	}


	h1 {
		font-size: 1.8em;
		padding-top: 4em;
	}
}

@media(max-width:640px){
.header{
         min-height: 430px;
}
.caption {
        width: 95%;
        height: 97.7%;
        margin-top: 7px;
}
.text {
       padding-top: 16em;
}
.caption.capt {
         height: 100%;
         width: 95%;
         margin-top: 0;
}
.caption.car {
    height: 100%;
    width: 95%;
    margin-top: 0;
}
.caption.cat {
    height: 100%;
    width: 96%;
}
.text.sma {
      padding-top: 7em;
}
.text.big {
      padding-top: 35em;
}
h1 {
     font-size: 1.5em;
}
.work {
    padding:3em 0;
}
}
@media(max-width:480px){
.header{
          min-height: 250px;
}
.header-right {
       padding-top: 0;
} 
h1 {
     font-size: 1.3em;
     padding-top: 1em;
}
.caption {
        width: 94%;
        height: 97%;
}
.work {
      padding:2em 0;
}
.text {
	padding-top: 11em;
} 
.caption.capt {
       height: 100%;
       width: 94%;
}
.text.sma {
       padding-top: 4em;
}
.text.big {
       padding-top: 25em;
}
.caption.car {
      height: 100%;
      width: 94%;
      margin-top: 0;
}
.cat-row img {
     width: 94%;
     height: 100%;
}
.caption.cat {
     height: 100%;
     width: 94%;
}
.cat-row {
    margin: 0;
}
.banner-main {
            min-height: 250px;
}
}
@media(max-width:320px){
.header {
          min-height: 200px;
          margin-bottom: 1em;
}
h1 {
            font-size:1em;
            padding-top: 2em;
}
.work {
      padding: 0 0;
}
.text {
      padding-top: 7em;
}
.text h3 {
      font-size:1.2em;
      font-weight: 300;
}
.text p {
     font-size: 10px;
     font-weight: 300;
}
.caption {
     width: 90%;
     height: 95%;
}
.text.sma {
       padding-top: 3em;
}
.caption.capt {
      height: 100%;
      width: 90%;
}
.caption.car {
      height: 100%;
      width: 90%;
      margin-top: 0;
}
.text.big {
      padding-top: 15em;
}
.caption.cat {
      height: 100%;
      width: 91%;
}
.cat-row img {
     width: 91%;
     height: 100%;
}
.banner-main {
          min-height: 150px;
}
.footer-main p {
     font-size: 11px;
}
}